html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Helvetica, sans-serif;
}

/* .menu for the main styling of each page */
.menu {
    text-align: center;
    margin: 100px auto;
    background-color: lightgray;
    border: 2px rgb(238, 238, 238) solid;
    width: fit-content;
    padding: 2em;
    border-radius: 5%;
}

/* Styling for menu page */

.title {
    margin-bottom: 20px;
    color: rgb(58, 55, 55);
}

.recipe-anchor {
    display: block;
    padding: 1em;
}

.home-button a {
    text-decoration: none;
    color: rgb(58, 55, 55);
}

/* Styling for Odin title in recipe pages */

.home-button {
    text-align: center;
    margin-top: 100px;
    margin-bottom: -50px;
}

/* Styling for recipe pages */

.recipe {
    width: fit-content;
}

.description, .ingredients, .steps {
    text-align: left;
    margin-bottom: 20px;
    font-size: 18px;
}

.description {
    padding-bottom: 15px;
    align-content: space-around;
}

.image h1 {
    font-size: 28px;
}

div.image {
    width: fit-content;
}

img {
    border: 2px solid black;
}

.descriptor {
    width: 600px;
    margin-left: 15px;
}

.image, .descriptor {
    display: inline-block;
}

.steps {
    width: 600px;
}
